.navbar_menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #ffff;
    width: 20%;
    height: 100%;
    border-radius: 0px 0px 32px 32px;
    transition: transform .3s ease-in-out;
    transform: translateX(-101%);
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.closemenu_block {
    text-align: end;
}

.closemenu {
    font-size: 24px;
    padding: 10px 4px;
    border-radius: 16px;
    text-decoration: none;
    /* background-color: black; */
    /* color: #ffff; */
    color: black;
    transition: all .3s ease-in-out;
}


/* .closemenu:hover {
    background-color: #ffff;
    color: black;
} */


.nav-item {
    margin-top: 35px;
}

.navbar_menu.is-active {
    transform: none;
}

.nav-list {
    margin-top: 70px;
    list-style: none;
}

.nav-link {
    font-size: 20px;
}